<div class="ng2-color-c ng2-component">
    <h4>Color</h4>
    <p>Element uses a specific set of palettes to specify colors to provide a consistent look and feel for the products you build</p>
    <hr />
    <section class="ng2-color-section">
        <h5>Primary Color</h5>
        <p>You need to use different scene colors in different scenarios (for example, icons, titles). </p>

        <div class="little-card-container row">
            <div class="three columns">
                <div class="little-card blue single">
                    <p>Blue</p>
                    <small>#65a8e8</small>
                </div>
            </div>
            <div class="three columns">
                <div class="little-card green single">
                    <p>Green</p>
                    <small>#5cb85c</small>
                </div>
            </div>
            <div class="three columns">
                <div class="little-card yellow top">
                    <p>Yellow</p>
                    <small>#f7ab17</small>
                </div>
                <div class="little-card low-yellow bottom">
                    <p>Low yellow</p>
                    <small>#fef5e3</small>
                </div>
            </div>
            <div class="three columns">
                <div class="little-card red single">
                    <p>Red</p>
                    <small>#e84a6a</small>
                </div>
            </div>
        </div>
    </section>


    <section class="ng2-color-section">
        <h5>Secondary Color</h5>
        <p>Besides the primary color, you need to use different scene colors in different scenarios (for example, dangerous color indicates dangerous operation).</p>

        <div class="little-card-container row">
            <div class="three columns">
                <div class="little-card green single">
                    <p>Success</p>
                    <small>#65a8e8</small>
                </div>
            </div>
            <div class="three columns">
                <div class="little-card blue single">
                    <p>Info</p>
                    <small>#5bc0de</small>
                </div>
            </div>
            <div class="three columns">
                <div class="little-card yellow single">
                    <p>Warning</p>
                    <small>#f7ab17</small>
                </div>
            </div>
            <div class="three columns">
                <div class="little-card red single">
                    <p>Danger</p>
                    <small>#e84a6a</small>
                </div>
            </div>
        </div>
    </section>

    <section class="ng2-color-section">
        <h5>Neutral Color</h5>
        <p>Neutral colors are for text, background and border colors. You can use different neutral colors to represent the hierarchical structure..</p>

        <div class="little-card-container row">
            <div class="four columns">
                <div class="little-card gray-900 top">
                    <p>Gray-900</p>
                    <small>#212121</small>
                </div>
                <div class="little-card gray-800">
                    <p>Gray-800</p>
                    <small>#424242</small>
                </div>
                <div class="little-card gray-700">
                    <p>Gray-700</p>
                    <small>#616161</small>
                </div>
                <div class="little-card gray-600">
                    <p>Gray-600</p>
                    <small>#757575</small>
                </div>
                <div class="little-card gray-500">
                    <p>Gray-500</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card gray-400">
                    <p>Gray-400</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card gray-300">
                    <p>Gray-300</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card gray-200">
                    <p>Gray-200</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card gray-100">
                    <p>Gray-100</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card gray-50 bottom">
                    <p>Gray-50</p>
                    <small>#65a8e8</small>
                </div>
            </div>

            <div class="four columns">
                <div class="little-card blue-gray-900 top">
                    <p>blue-gray-900</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-800">
                    <p>blue-gray-800</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-700">
                    <p>blue-gray-700</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-600">
                    <p>blue-gray-600</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-500">
                    <p>blue-gray-500</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-400">
                    <p>blue-gray-400</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-300">
                    <p>blue-gray-300</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-200">
                    <p>blue-gray-200</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-100">
                    <p>blue-gray-100</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card blue-gray-50 bottom">
                    <p>blue-gray-50</p>
                    <small>#65a8e8</small>
                </div>
            </div>

            <div class="four columns">
                <div class="little-card gray-100 top">
                    <p>Gray-100</p>
                    <small>#65a8e8</small>
                </div>
                <div class="little-card gray-50 bottom">
                    <p>gray-50</p>
                    <small>#65a8e8</small>
                </div>
            </div>
        </div>


    </section>


</div>